RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteEngine On
RewriteRule ^redirecting-to-client-panel-domain-(.*)$ redirect.php?domain=$1 [L]
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .p
</IfModule>